<div class="nav-bar">
    {{#link-to "index"}}Home{{/link-to}} |
    {{#link-to "rsvp.invitee"}}RSVP{{/link-to}} |
    {{#link-to "directions"}}Directions{{/link-to}} |
    {{#link-to "registry"}}Gift Registry{{/link-to}}
</div>

{{yield}}
