<div class="nav-bar">
    {{#link-to "index"}}Home{{/link-to}} |
    <a href="http://www.weddingmapper.com/cambridge/on/visit/0at4r1"> 
    Directions</a> |
    {{#link-to "registry"}}Gift Registry{{/link-to}} |
    {{#link-to "rsvp.invitee"}}RSVP{{/link-to}}
</div>

{{yield}}
