<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Already Responded</h4>
    </div>
    <div class="modal-body">
      <p>Our records indicate that you have already responded.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "close"}}>Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
