<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Attendee Names</h4>
    </div>
    <div class="modal-body">
      <p>Please enter the names of your attendees (adults only).</p>
      {{#each attendeeNameInputs as |input|}}
        <input type="text" id="attendee{{input}}" class="form-control stacked-input"/>
      {{/each}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "next"}}>Next</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
