<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
    </div>
    <div class="modal-body">
      <p>Please click confirm to send your confirmation. Note that you cannot change your
      response after confirming. If you would like to change anything now, click Change Response.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "changeResponse" }}>Change Response</button>
        <button type="button" class="btn btn-primary" {{action "confirm" }}>Confirm</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
