<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Hotel?</h4>
    </div>
    <div class="modal-body">
      <p>Will you be staying at the Cambridge Hotel and Conference Centre?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" {{action "submitNo"}}>No</button>
      <button type="button" class="btn btn-primary" {{action "submitYes"}}>Yes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
