<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">RSVP Window Closed</h4>
    </div>
    <div class="modal-body" id="inviteeGroup">
      <p>The RSVP window is now closed. Please contact Channelle and Devin at
      <a href="mailto:devinchannellewedding@gmail.com">devinchannellewedding@gmail.com</a> for more information.</p>
    </div>
    <div class="modal-footer">
         {{#link-to "index"}}<button type="button" class="btn btn-primary">Close</button>{{/link-to}}
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
