<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Number of Attendees</h4>
    </div>
    <div class="modal-body">
      <p>Please select the number of attendees that will be coming in your party.</p>
      <select id="attendingNumSelect" class="form-group">
        {{#each attendingNumChoices as |choice|}}
        <option value={{choice}}>{{choice}}</option>
        {{/each}}
      </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "next"}}>Next</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
