<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Directions</h4>
    </div>
    <div class="modal-body">
      Please note that we have limited seating at the chapel, so priority seating will be
      given to family.<br><br>

      <b>Hotel:</b> 700 Hespeler Rd, Cambridge<br>
      <b>Chapel:</b> 6705 Ellis Rd, Cambridge<br>
      <b>Banquet Hall:</b> 15 International Village Dr, Cambridge<br><br>

      <b>To Chapel from 401:</b><br>
1. Take the Regional Road 33/Townline Road exit.<br>
2. Turn right onto Townline Road.<br>
3. Turn left onto Lake Road. Drive 2.5 km.<br>
4. Turn left onto Wellington County Road 32.<br>
5. Turn right at the 1st cross street onto Ellis Rd. Chapel will be on the right.<br>
      <br>

      <b>To Hotel from 401:</b><br>
1. Take exit 282 for Regional Rd 24 (Hespeler Road).<br>
2. Drive to Regional Rd 24 (Hespeler Road).<br>
3. Turn left if coming from the east, right if coming from the west, onto Regional Rd 24 (Hespeler Road).<br>
4. Continue straight to stay on Hespeler Road. Hotel will be on the right.<br>
      <br>

      <b>To Reception from 401:</b><br>
1. Take exit 282 for Regional Rd 24 (Hespeler Road).<br>
2. Drive to Regional Rd 24 (Hespeler Road).<br>
3. Turn left if coming from the east, right if coming from the west, onto Regional Rd 24 (Hespeler Road).<br>
4. Continue straight onto Hespeler Road.<br>
5. Turn left onto Dunbar Road.<br>
6. Turn right onto International Village Drive. Reception will be on the right.<br>
      <br>

      <b>To Reception from Chapel:</b><br>
1. Turn left coming from chapel parking lot onto Ellis Road.<br>
2. Turn left at Wellington County Road 32.<br>
3. Turn right onto Lake Road.<br>
4. Turn left onto Townline Road.<br>
5. At the roundabout, take the first exit onto Can-Amera Parkway.<br>
6. At the roundabout, take the first exit onto Conestoga Blvd.<br>
7. Turn left onto Dunbar Road.<br>
8. Turn left onto International Village Drive. Reception will be on the right.<br>
      <br>

      <b>Map:</b><br>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13KXp4R4Jzc2EmaRjpUIsNu0STJ4" width="100%" height="480"></iframe>
    </div>
  </div>
</div>