<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Gift Registry</h4>
    </div>
    <div class="modal-body">
      We are registered at:<br>
      <a href="http://www.williamashley.com/giftregistry/view/index/id/MSPAK/">William Ashley</a><br>
      <a href="http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/grbookmark.jsp?retailerid=4&cc=400128560194&languageid=0">The Bay</a> (Registry Number 400128560194)
    </div>
  </div>
</div>